<h1 >Template Driven Form</h1>
<form #pform=ngForm (submit)='addSong(pform)'>
  Music Title :<input class="form-control" type="text" #musicname=ngModel
  [(ngModel)]='songInput.musicName'
  name="musicname">
  <span *ngIf='musicname.invalid || musicname.dirty'>
    <span *ngIf='musicname.errors?.required'>
      Music Name is required
    </span>
  </span>
  Music Id: <input class="form-control" type="number"
  #musicid=ngModel
  [(ngModel)]='songInput.musicId'
  name="musicid"><br>

  Music Artist : <input class="form-control" type="text" #musicartist=ngModel
  [(ngModel)]='songInput.musicArtist'
  name="musicartist"><br>

  Music file: <input class="form-control" type="text"
  #musicfile=ngModel
  [(ngModel)]='songInput.musicFile'
  name="musicfile"><br>

  Music Img: <input class="form-control" type="text"
  #musicimg=ngModel
  [(ngModel)]='songInput.musicImage'
  name="musicimg">

  <input class="btn" type="submit">
</form>


