<div class="container">
  <div class="row">

    <div class="col-sm-6 plyr">
       <h3 class="d-flex justify-content-center head" style="color: rgb(97, 243, 248);"><mat-icon>stars</mat-icon>Player</h3>
      <div 
        class="card d-flex justify-content-center" >
        <h5 class="card-title d-flex justify-content-center" style="color: crimson;">{{song.musicName}}</h5>
        <img class="card-img-top " src={{song.musicImage}} alt="Card image cap" style="height: 25rem;width: 100%;">
        <div class="card-body  justify-content-center ">
          <p class="d-flex justify-content-center">{{song.musicArtist}}</p>
          <mat-progress-bar class="progressBar" mode="determinate" [value]="value"></mat-progress-bar>
          <br>
          <div class=" card-text d-flex justify-content-center ">
            <!-- <mat-icon class="icon"> info </mat-icon>
            <mat-icon class="icon">shuffle</mat-icon>
            <mat-icon class="icon">loop</mat-icon> -->
            <mat-icon (click)="prevSong()">skip_previous</mat-icon>
            <mat-icon class="playPause" (click)="playAudio()">{{playPause}}</mat-icon>
            <mat-icon (click)="nextSong()">skip_next</mat-icon>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-3 mplyr">
      <h3 class="d-flex justify-content-center head" style="color: rgb(249, 254, 255);"><mat-icon>queue_music</mat-icon>My PlayList</h3>
      <div class="card-body listContain">
        <ul class="" *ngFor="let song of obj" class="list-group">
          <li class="list-group-item list-group-item-light">
            <img class="img-fluid rounded-start img1" src={{song.musicImage}} alt="Card image cap"
              style="height: 15%;width: 20%;">
            <p class="card-title"><a
                [routerLink]="'/detailedsong/'+song.musicId+'/'+song.musicName">{{song.musicName}}</a></p>
            <mat-icon class="listPlay" (click)="playFromList(song)">play_circle_filled</mat-icon>
            <mat-icon (click)="makeFav(song)" [ngClass]="song.fav ? 'fav': 'unfav'">favorite_border</mat-icon>
            <ng-template [ngIf]="song.fav">
              <div style="color: red;">{{" added to favorite"}}</div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-sm-3 fvrt">
      <h3 class="d-flex justify-content-center head" style="color: rgb(248, 97, 97);"><mat-icon>favorite</mat-icon>Favorites</h3>
      <div class="card-body ">
        <ul *ngFor="let song of obj" class="list-group">
          <ng-template [ngIf]="song.fav">
            <li class="list-group-item list-group-item-light">
              <img class="img-fluid rounded-start img1" src={{song.musicImage}} alt="Card image cap"
                style="height: 15%;width: 20%;">
              {{song.musicName}}
              <mat-icon class="listPlay" (click)="playFromList(song)">play_circle_filled</mat-icon>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>


  </div>
</div>