<!-- <div class="container"> -->
<div class="row">
  <div class="col-sm">
    <div class="container">

      <img class="imgWall" src="../../../assets/backWallPaper.jpg" alt="">
      <div class="text-block">
        <p class="textOnImage textOnImag007"><img class="escImg" mat-card-lg-image
            src="../../../assets/LogicalBrain.png">Bestify Your Time
          <!-- <mat-icon>videogame_asset</mat-icon> -->
          <img class="escImg" mat-card-lg-image src="../../../assets/QuizTime.png">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Upcomming Multiplayer Platform</mat-card-title>
          <mat-card-subtitle>With advanced server backed by Tomcat we wnsure you seamless multiplayer gaming
          </mat-card-subtitle>
          <img class="cardImg" mat-card-md-image src="../../../assets/multyPlayer.jpg">
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h1>jhgghgjgjjledd</h1>
        </mat-card-content> -->
      </mat-card>
    </div>
    <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pick up where u left</mat-card-title>
          <mat-card-subtitle>With our state save functionality we give you options to resume your game from last session
          </mat-card-subtitle>
          <img class="cardImg" mat-card-md-image src="../../../assets/controllerGame.jpg">
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h1>jhgghgjgjjledd</h1>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Upcomming Multiplayer Platform</mat-card-title>
          <mat-card-subtitle>With advanced server backed by Tomcat we wnsure you seamless multiplayer gaming
          </mat-card-subtitle>
          <img class="cardImg" mat-card-md-image src="../../../assets/multyPlayer.jpg">
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h1>jhgghgjgjjledd</h1>
        </mat-card-content> -->
      </mat-card>
    </div>
    <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pick up where u left</mat-card-title>
          <mat-card-subtitle>With our state save functionality we give you options to resume your game from last session
          </mat-card-subtitle>
          <img class="cardImg" mat-card-md-image src="../../../assets/controllerGame.jpg">
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h1>jhgghgjgjjledd</h1>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <div class="container">
      <mat-progress-bar mode="query"></mat-progress-bar>
      <img class="imgWall" src="../../../assets/halfDesign.jpg" alt="">
      <div class="text-block">
        <p class="textOnImage textOnImag007">
          <mat-progress-bar mode="query"></mat-progress-bar>
        </p>
      </div>
      <mat-progress-bar mode="query"></mat-progress-bar>
      <!-- <div class="text-block">
          <img class="gameIcon" src="../../../assets/transparent-video-game-8.png" alt="">
        </div> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Upcomming Multiplayer Platform</mat-card-title>
          <mat-card-subtitle>With advanced server backed by Tomcat we wnsure you seamless multiplayer gaming
          </mat-card-subtitle>
          <img  mat-card-md-image src="../../../assets/multyPlayer.jpg">
        </mat-card-title-group>
      </mat-card>
    </div> -->
    <div class="col-md about">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pick up where u left</mat-card-title>
          <mat-card-subtitle>With our state save functionality we give you options to resume your game from last session
          </mat-card-subtitle>
          <img mat-card-md-image src="../../../assets/controllerGame.jpg">

          <img mat-card-md-image src="../../../assets/QuizTime.png">
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h1>jhgghgjgjjledd</h1>
        </mat-card-content> -->
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="container">
      <img class="imgWall" src="../../../assets/backWallPaper.jpg" alt="">
      <div class="text-block">
        <p class="textOnImage textOnImag007" style="font-size: 16px;"></p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <mat-progress-bar   class="progress-bar"
[color]="color"
[value]="value"
[bufferValue]="bufferValue"
></mat-progress-bar> -->