
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 49%;
    right: 10%;
    color: white;
    padding-right: 10%;
  }
  .imgWall{
      height: auto;
      width: 100%;
  }
  .textOnImage{
    color: white;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: 1.92px;
    padding-bottom: 32px;
}
@media (max-width: 800px)
{.textOnImage {
    font-size: 24px;
    letter-spacing: 1.92px;
    // max-width: 300;
}
.text-block {
    position: absolute;
    bottom: 20%;
    right: 9rem;
    color: white;
    padding-right: 0px;
  } 
  .imgWall{
    height: auto;
    width: 100%;
}}
@media (max-width: 540px)
{.textOnImage {
    font-size: 14px;
    letter-spacing: 1.92px;
}
.text-block {
    position: absolute;
    bottom: 9%;
    right: 5rem;
    color: white;
    padding-right: 0px;
  }}


  .about{
    padding:1vh ;
  }
  .gameIcon{
    font-size: 44px;
    height: 10px;
    width: 10px;
      color: cornflowerblue;
  }
  .cardImg{
      border-radius: 50%;
      box-shadow: 8px 8px 5px grey;
  }
  .gameIcon{
      height: 10%;
      width: 30%;
  }
  .progress-bar{
    height: 10px;
  }

  @media (max-width:990px)  {
    .escImg {
        display:none;
    }
  }
  