.btn{
    width: 100%;
    background-color: rgb(24, 209, 64);
    text-align: center;
}
h1{
    background-color: black;
    color: gainsboro;
    border: 1px solid black;
    margin: 0.1rem;
     text-align: center;
    }
    form{
        min-height: 100vh;
    }