<app-matching-game [pairs]="heros" (leftpartSelected)="onLeftpartSelected($event)"
	(rightpartSelected)="onRightpartSelected($event)" (leftpartUnselected)="onLeftpartUnselected()"
	(rightpartUnselected)="onRightpartUnselected()" >

	<ng-template #leftpart class="smallBox" let-animalPair="contextPair">
		<div class="myAnimal left" [class.selected]="leftpartSelectedId==animalPair.id">{{animalPair.leftpart}}</div>       
    </ng-template>
	
	<ng-template #rightpart class="smallBox" let-animalPair="contextPair">
        <div class="myAnimal right"[class.selected]="rightpartSelectedId==animalPair.id">{{animalPair.rightpart}}</div> 
    </ng-template>

</app-matching-game>