
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="/"><mat-icon>music_note</mat-icon></a>
    
    <!-- collapse navbar-collapse -->
    <!-- <div class="" id="navbarSupportedContent"> -->
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> -->
          <a class="nav-link" href="/">Home</a>
        <!-- </li>
        <li class="nav-item"> -->
          <a class="nav-link" href="/about">About</a>
        <!-- </li>
        <li class="nav-item"> -->
          <a class="nav-link"  href="/addMusic">AddMusic-T</a>
        <!-- </li>
        <li> -->
         <a class="nav-link"  href="/addSong">AddSong-R</a>
        <!-- </li>
        <li> -->
          <a class="nav-link"  href="/pagenotfound">Test Page Not Found</a>
         <!-- </li>
      </ul> -->
    <!-- </div> -->
    <a class="nav-link"  routerLink="/rating">Rating</a>
  </nav>
  <router-outlet></router-outlet>