.navbar{
    background-color: rgb(196, 247, 244);
    
}
a{
    color: rgb(76, 78, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 5px rgb(126, 139, 136);
    padding: 1%;
}