<div class="container">
    <div class="row">
        <div class="col-sm-4 quize">
            <h3>QUIZE</h3>
            <div class="card-body listContainQuize">
                <ul *ngFor="let q of quize" class="list-group">
                    <li class="list-group-item listDisplay">
                        {{q}}
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="col-sm-4 lr">
            <h3>L R</h3>
        </div>
        <div class="col-sm-4 game">
            <h3>GAMES</h3>
            <div class="gContent">
                <div class="card">
                    <img src="../../../assets/mariKart.jpg" class="card-img-top" alt="...">
                    <!-- <div class="card-body"> -->
                        <!-- <a href="#" class="btn btn-primary">PlayNow</a> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ts">
            <h3>TOP SCORES</h3>
            <div class="card-body listContain">
                <ul *ngFor="let u of userList" class="list-group">
                    <li class="list-group-item listDisplay">
                        <h5 class="card-title">{{u}}</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 ad">
            <h3>ADVERTISEMENT</h3>
        </div>
        <div class="col-sm-3 nr">
            <h3>NEW RELEASE</h3>
            <div class="card-body listContain">
                <ul *ngFor="let u of newRelease" class="list-group">
                    <li class="list-group-item listDisplay">
                        <h5 class="card-title">{{u}}</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>