
<div class="container">
    <div class="head">WELCOME</div>
    <div class="row">
        <div class="col-sm-6">
            <app-user-login></app-user-login>
            
        </div>
        <div class="col-sm-3">  <div class="row ">
            <div class="col"> <a class="nav-link" routerLink="/home"
                    style="background-color: rgb(172, 221, 94);color: rgb(80, 71, 68)">Home</a></div>
            <div class="col"> <a class="nav-link" routerLink="/addSong"
                    style="background-color: rgb(233, 247, 250);color: black">AddSong</a></div>
            <div class="col"> <a class="nav-link" routerLink="/edit"
                    style="background-color: rgb(250, 253, 55);color: rgb(76, 78, 231);;">Edit Song</a></div>
            <div class="col"> <a class="nav-link" routerLink="/delete"
                    style="background-color: rgb(253, 113, 94);color: rgb(248, 250, 233);">Delete Song</a></div>
        </div></div>
    </div>


</div>