.col{
    border-radius: 2%;
    // background-color: royalblue;
    margin: 1%;
    color: seashell;
    font-weight: bold;
    text-align: center;
}
.row{
 border: 2px solid rgb(255, 243, 243);
 background-color:black;
}