.btn{
    width: 100%;
    background-color: rgb(24, 126, 209);
    text-align: center;
}
h1{
    background-color: black;
    color: gainsboro;
    border: 1px solid black;
    margin: 0.1rem;
     text-align: center;
    }
    form{
        min-height: 100vh;
    }
    .head{
        color: rgb(0, 0, 0);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-shadow: 2px 2px 5px rgb(126, 139, 136);
        padding: 1%;
        background-color: rgb(221, 253, 253);
      }