.sname{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: blue;
    box-sizing: initial;
    width: 30%;
  }
  .star{
      color: gold;
      text-shadow: gray;
      box-shadow: gray;
      height: 50%;
      width: 50%;
  }