<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand note" href="/">
    <mat-icon>music_note</mat-icon>
  </a>

  <a class="nav-link" routerLink="/home" style="background-color: rgb(94, 221, 121);color: rgb(80, 71, 68)">Home</a>

  
  <a class="nav-link" routerLink="/addSong" style="background-color: rgb(233, 247, 250);color: black">AddSong</a>

  
  <a class="nav-link" routerLink="/edit" style="background-color: rgb(250, 253, 55);color: rgb(76, 78, 231);">Edit Song</a>
  
  <a class="nav-link" routerLink="/delete" style="background-color: rgb(253, 113, 94);color: rgb(248, 250, 233);">Delete Song</a>

  
  <a class="nav-link" routerLink="/search" style="background-color: rgb(91, 255, 233);color: rgb(5, 5, 4);">Search Song</a>

  <a class="nav-link" routerLink="/about"  style="background-color: rgb(160, 217, 255);color: rgb(43, 5, 133);">About</a>

  <a class="nav-link" routerLink="/login"  style="background-color: rgb(234, 167, 243);color: rgb(27, 38, 100);">Login</a>
  


  <!-- <a class="nav-link" href="/addMusic">AddMusic-T</a> -->

  <a class="nav-link"  style="background-color: rgb(192, 98, 230);color: rgb(42, 8, 58);" routerLink="/rating">Rating</a>

  <a class="nav-link" routerLink="/pagenotfound"  style="background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);">404</a>
  <!-- <mat-icon class="adb"  style="color: rgb(76, 78, 231);">adb</mat-icon> -->
</nav>
<router-outlet></router-outlet>