
<header>
    <div class="container-fluid p-0">
        <!-- <nav [ngClass]="{'sticky' : visible}" #navbar class="navbar navbar-expand-lg "> -->
            <nav [ngClass]="{sticky : visible, sticky1 : visible1,sticky2 :visible2}" #navbar class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">
                <i class='fas fa-dragon fa-4x'></i><br />Bestify your time</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quizes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Games</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="#" class="nav-link">Login</a>
                            <div class="dropdown-content">
                                <a href="#">USER</a>
                                <a href="#">ADMIN</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container text-center">
        <div class="row">
            
            <div class="col-md-7 col-sm-12  text-white">
                <h6>AUTHOR: DAILY TUITION</h6>
                <h1>EXPERIENCE THE ADVENTURE</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa sequi
                    expedita.
                </p>
                <button  class="btn btn-light px-5 py-2 primary-btn">
                    Get Started
                </button>
            </div>
            <div class="col-md-5 col-sm-12  h-25"><br>
                <img src="../../assets/redConsole.png" alt="Book" />
            </div>
        </div>
    </div>
</header>
<main>
    <section class="section-1">
        <!-- <div class="container text-center">
            <div class="row"> -->
                <!-- <div class="col-md-6 col-12">
                    <div class="pray">
                        <img src="../../assets/robo.jpg" alt="Pray" class="" />
                        
                    </div>
                </div> -->
                <!-- <div class="col-md-6 col-12"> -->
                    <!-- <div class="panel text-left">
                        <h1>Undivided User Assistance</h1>
                        <p class="pt-4">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure adipisci harum ducimus
                            accusantium, repudiandae aperiam
                            voluptatum, id ex ratione omnis reiciendis possimus officiis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vitae, tenetur quidem eum
                            aliquid vel labore sint placeat
                            ad deserunt consectetur fugit ullam. Eius unde neque ducimus obcaecati ipsum quos vero totam
                            recusandae hic
                            expedita nemo sit, illum harum. Quisquam impedit ullam itaque facere et ad molestiae quod
                            reprehenderit excepturi!
                        </p>
                    </div> -->
                    <!-- <div class="container"> -->
                        <div class="row">
                          <div class="col-sm">
                            <div class="content text-center">
                                <h1>Animals</h1>
                            </div>
                    <app-game-two></app-game-two> 
                          </div>
                          <div class="col-sm">
                            <div class="content text-center">
                                <h1>Random</h1>
                            </div>
                              <app-game-second></app-game-second>
                          </div>
                        </div>
                      <!-- </div> -->
                    <!-- <app-game-two></app-game-two>  -->
                <!-- </div> -->
            <!-- </div>
        </div> -->
    </section>
    <section class="section-2 container-fluid p-0">
        <div class="cover">
            <div class="overlay"></div>
            <div class="content text-center">
                <h1>Some Features Of Our Project</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eum?
                </p>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                <div class="rect">
                    <i class='fas fa-gamepad fa-6x'></i><br />
                    <!-- <h1>2345</h1> -->
                    <p>Games</p>
                </div>
                <div class="rect">
                    <i class='fas fa-user-friends fa-6x'></i><br />
                    <!-- <h1>6784</h1> -->
                    <p>MultiPlayer</p>
                </div>
                <div class="rect">
                    <i class='fas fa-question fa-6x'></i><br />
                    <!-- <h1>1056</h1> -->
                    <p>Quizes</p>
                </div>
                <div class="rect">
                    <i class='fas fa-brain fa-6x'></i><br/>
                    <!-- <h1>9152</h1> -->
                    <p>Brain Teasers</p>
                </div>
            </div>
        </div>


        <div class="purchase text-center">
            <h1>Variety from Graphics to Brain Teasers</h1>
            <div class="cards">
                <div class="d-flex flex-row justify-content-center flex-wrap">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/raceingap.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="title">
                            </div>
                            <div class="pricing">
                                <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Multiplayer Games</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="../../assets/race2.jpg" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/punk.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="title">
                            </div>
                            <div class="pricing">
                                <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Single Player Games</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="../../assets/tasoshin.png" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../../assets/quizImage.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="title">
                            </div>
                            <div class="pricing">
                                <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Categorised Quizes</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="../../assets/logical.jpg" alt="Card image cap">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section-3 container-fluid p-0 text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>MultiPlatform User Interface</h1>
                <p>With responsive design User is able to Play/Browse our website in any mode 
                </p>
            </div>
        </div>
        <div class="platform row">
            <div class="col-md-6 col-sm-12 text-right">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-desktop fa-7x py-2 pr-3"></i>
                        <div class="text text-left">
                            <h3 class="pt-1 m-0">Desktop</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-left">
                <div class="desktop shadow-lg">
                    <div class="d-flex flex-row justify-content-center">
                        <i class="fas fa-mobile-alt fa-7x py-2 pr-3"></i>
                        <div class="text text-left">
                            <h3 class="pt-1 m-0">Mobile</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section class="section-4">
        <div class="container text-center">
            <h1 >Framework Used in the Project</h1>
        </div>
        <div class="team row ">
            <div class="col-md-3 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../../assets/mariKart.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Blalock Jolene</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                        <p class="text-black-50">CEO at Google</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../../assets/mariKart.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Blalock Jolene</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                        <p class="text-black-50">CEO at Google</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                      <img src="../../assets/mariKart.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Blalock Jolene</h3>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                      <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                      <p class="text-black-50">CEO at Google</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                        <img src="../../assets/mariKart.jpg" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Blalock Jolene</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                        <p class="text-black-50">CEO at Google</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</main>
<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-sm-5">
                <h4 class="text-light">About us</h4>
                <p class="text-muted">We are team member of core 7, Our metor and us have designed and developed this project in mean stack Framework</p>
                <p class="pt-4 text-muted">Copyright ©2021 All rights reserved | for more information visit
                    <span> www.cybage.com</span>
                </p>
            </div>
            <div class="col-md-5 col-sm-12">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form class="form-inline">
                    <div class="col pl-0">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white"
                                id="inlineFormInputGroupUsername2" placeholder="Email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-light">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</footer>