<div class="row">
    <div class="col-sm-6">
        <h3 class="head imgContain"><span><mat-icon>edit</mat-icon></span> EDIT MUSIC</h3>
        <form [formGroup]="audio" (ngSubmit)="editSong()">

            <label for="rating">Song ID</label>
            <input class="form-control" id="id" type="number" formControlName="id" value="{{song.musicId}}">

            <label for="title">Song Title</label>
            <input class="form-control" id="title" type="text" formControlName="title" value="{{song.musicName}}">


            <label for="artist">Song Artist</label>
            <input class="form-control" id="artist" type="text" formControlName="artist" value="{{song.musicArtist}}">


            <label for="rating">Song Rating</label>
            <input class="form-control" id="rating" type="number" formControlName="rating" value="{{rat}}">

            <label for="audiofile">Song Audio File</label>
            <input class="form-control" id="audiofile" type="audiofile" formControlName="audiofile" value="{{song.musicFile}}">

            <input class="btn head" style="color: cornsilk;background-color: deepskyblue;padding: 1%;font-size: medium;" type="submit">
            
        
        </form>
    </div>

    <div class="col-sm-6">
        <h3 class="d-flex justify-content-center head">
            <mat-icon>queue_music</mat-icon>MY LIST
        </h3>
        <div class="card-body ">
            <ul *ngFor="let song of songsList" class="list-group">
                <li class="list-group-item songLI">
                    <h5 class="card-title">{{song.musicName}}<span>
                            <mat-icon class="edit" (click)="setSong(song)">edit</mat-icon>
                        </span></h5>

                </li>
            </ul>
        </div>
    </div>

</div>