.btn{
    width: 100%;
    background-color: rgb(24, 209, 64);
    text-align: center;
    box-shadow: black;
}
h1{
    background-color: black;
    color: gainsboro;
    border: 1px solid black;
    margin: 0.1rem;
     text-align: center;
    }
    form{
        min-height: 100vh;
    }

    .edit{
        float: right;
        color: red;
    }
    .head{
        color: rgb(76, 78, 231);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-shadow: 2px 2px 5px rgb(126, 139, 136);
      padding: 1%;
      margin: 1%;
      text-align: center;
      background-color: rgb(250, 253, 55);
      padding: 2%;
      font-size: 2.2rem;
      height: 7vh;
      }
      
        .imgContain{
   height: 7vh;
        width: 100%;
        font-size: 2.5rem;
        padding: 2%;
        background-color: rgb(250, 253, 55);
        }
        .songLI{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-shadow: 2px 2px 5px rgb(126, 139, 136);
            background-color: rgb(184, 247, 125);
        }
      