<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div [ngStyle]="!audio.paused?{'background-color':'azure'}:{'background-color':'black','color':'white'}"
                class="card d-flex justify-content-center play">
                <div class="image">
                    <img class="card-img-top " src={{song1.musicImage}} alt="Card image cap">
                </div>
                <div class="card-body  justify-content-center ">
                    <h5 class="card-title d-flex justify-content-center" style="color: crimson;">{{song1.musicName}}</h5>
                    <br>
                    <p class="d-flex justify-content-center">{{song1.musicArtist}}</p>
                    <mat-progress-bar class="progressBar" mode="determinate" [value]="value"></mat-progress-bar>
                    <br>
                    <div class=" card-text d-flex justify-content-center ">
                        <mat-icon (click)="prevSong()">skip_previous</mat-icon>
                        <mat-icon class="playPause" (click)="playAudio()">{{playPause}}</mat-icon>
                        <mat-icon (click)="nextSong()">skip_next</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            
        </div>
    </div>
</div>
<!-- {{sId}}
<button (click)="callMe()">Button</button> -->