<div class="container">
    <div class="row">
        <div class="col-sm-1 game side">
            <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/ShCMwjMF5B3La" width="80%" height="80%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-sm-10 game ">
            <h3 class="gameBack">GAMES</h3>
            <div class="gContent">
                <!-- <div class="card"> -->
                    <img src="../../../assets/jay-dkFJST9zZZo-unsplash.jpg" class="card-img-top" alt="...">
                    
                    <img src="../../../assets/nasa-yZygONrUBe8-unsplash.jpg" class="card-img-top" alt="...">
                    
                    <img src="../../../assets/jay-dkFJST9zZZo-unsplash.jpg" class="card-img-top" alt="...">
                    
                    <img src="../../../assets/nasa-yZygONrUBe8-unsplash.jpg" class="card-img-top" alt="...">
                    
                    <img src="../../../assets/jay-dkFJST9zZZo-unsplash.jpg" class="card-img-top" alt="...">
                    
                    <img src="../../../assets/nasa-yZygONrUBe8-unsplash.jpg" class="card-img-top" alt="...">
                <!-- </div> -->
            </div>
        </div>
        <div class="col-sm-1 game side"></div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-3 ts">
            <h3>TOP SCORES</h3>
            <div class="card-body listContain">
                <ul *ngFor="let u of userList" class="list-group">
                    <li class="list-group-item listDisplay">
                        <h5 class="card-title">{{u}}</h5>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="col-sm-9 ad">
            <h3>ABOUT OUR APPLICATION</h3>
        <p>Introduction to Angular concepts
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.
            
            The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into NgModules. NgModules collect related code into functional sets; an Angular application is defined by a set of NgModules. An application always has at least a root module that enables bootstrapping, and typically has many more feature modules.
            
            Components define views, which are sets of screen elements that Angular can choose among and modify according to your program logic and data.
            
            Components use services, which provide specific functionality not directly related to views. Service providers can be injected into components as dependencies, making your code modular, reusable, and efficient.
            
            Modules, components and services are classes that use decorators. These decorators mark their type and provide metadata that tells Angular how to use them.
            
            The metadata for a component class associates it with a template that defines a view. A template combines ordinary HTML with Angular directives and binding markup that allow Angular to modify the HTML before rendering it for display.
            
            The metadata for a service class provides the information Angular needs to make it available to components through dependency injection (DI).
            
            An application's components typically define many views, arranged hierarchically. Angular provides the Router service to help you define navigation paths among views. The router provides sophisticated in-browser navigational capabilities.
             </p>    
        </div>
        <div class="col-sm-3 nr">
            <h3>NEW RELEASE</h3>
            <div class="card-body listContain">
                <ul *ngFor="let u of newRelease" class="list-group">
                    <li class="list-group-item listDisplay">
                        <h5 class="card-title">{{u}}</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>